{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "security", "scanjs-rules"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:security/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "warn",
    "prettier/prettier": ["error", {"endOfLine": "auto"}],
    "arrow-parens": ["error", "as-needed"],
    "space-in-parens": ["error", "never"],
    "no-promise-executor-return": "error",
    "object-curly-spacing": ["error", "always"],
    "computed-property-spacing": ["error", "never"],
    "array-bracket-spacing": ["error", "never"],
    "space-unary-ops": "error",
    "comma-spacing": ["error", {"before": false, "after": true}],
    "comma-style": ["error", "last"],
    "space-infix-ops": ["error", {"int32Hint": false}],
    "keyword-spacing": ["error", {"before": true}],
    "prefer-arrow-callback": "error",
    "no-sequences": "error",
    "quote-props": ["error", "as-needed"],
    "jsx-quotes": ["error", "prefer-double"],
    "no-multi-spaces": "error",
    "padded-blocks": ["error", "never"],
    "arrow-spacing": ["error", {"before": true, "after": true}],
    "key-spacing": ["error", {"beforeColon": false}],
    "no-multiple-empty-lines": ["error", {"max": 1, "maxEOF": 1}],
    "no-await-in-loop": "error",
    "no-spaced-func": "error",
    "comma-dangle": ["error", "never"],
    "no-trailing-spaces": "error",
    "indent": ["error", 2, {"SwitchCase": 1}],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": [0, "error"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
   
    //useful for identifying potential security vulnerabilities in codebase
    "security/detect-non-literal-fs-filename": "warn",
    "security/detect-non-literal-require": "warn",
    "security/detect-non-literal-regexp": "warn",
    "security/detect-eval-with-expression": "warn",
    "security/detect-pseudoRandomBytes": "warn",
    "security/detect-unsafe-regex": "warn",
    "security/detect-buffer-noassert": "warn",
    "security/detect-child-process": "warn",
    "scanjs-rules/assign_to_href": "error",
    "scanjs-rules/assign_to_location": "error",
    "scanjs-rules/assign_to_onmessage": "error",
    "scanjs-rules/assign_to_pathname": "error",
    "scanjs-rules/assign_to_protocol": "error",
    "scanjs-rules/assign_to_search": "error",
    "scanjs-rules/assign_to_src": "error",
    "scanjs-rules/call_Function": "error",
    "scanjs-rules/call_addEventListener": "error",
    "scanjs-rules/call_addEventListener_deviceproximity": "error"
  }
}
